---
- name: Create app's environment file
  vars:
    env_var_keys:
      - SECRET_KEY
      - DATABASE_NAME
      - DATABASE_USER
      - DATABASE_PASSWORD
      - REWARDS_API_BASE_URL
      - GITHUB_BOT_CLIENT_ID
      - GITHUB_BOT_PRIVATE_KEY_FILENAME
      - GITHUB_BOT_INSTALLATION_ID
      - GITHUB_TOKEN
      - ISSUES_WEBHOOK_SECRET
      - INITIAL_SUPERUSERS
      - INITIAL_SUPERUSER_PASSWORDS
      - INITIAL_SUPERUSER_ADDRESSES
      - EXCLUDED_CONTRIBUTORS
      - EMAIL_HOST
      - EMAIL_HOST_USER
      - EMAIL_HOST_PASSWORD
      - EMAIL_DEFAULT_FROM
      - DISCORD_EMOJI_NOTED
      - DISCORD_EMOJI_ADDRESSED
      - DISCORD_EMOJI_WONTFIX
      - DISCORD_EMOJI_DUPLICATE
      - DISCORD_APPLICATION_ID
      - DISCORD_SECRET
      - DISCORD_PUBLIC_KEY
      - TWITTER_CLIENT_ID
      - TWITTER_SECRET
      - REDDIT_SECRET
      - REDDIT_CLIENT_ID
      - GITHUB_CLIENT_ID
      - GITHUB_SECRET
      - GOOGLE_CLIENT_ID
      - GOOGLE_SECRET
      - TRACKER_DISCORD_BOT_ID
      - TRACKER_DISCORD_BOT_TOKEN
      - TRACKER_DISCORD_INCLUDED_CHANNELS
      - TRACKER_TELEGRAM_CHATS
      - TRACKER_TELEGRAM_API_ID
      - TRACKER_TELEGRAM_API_HASH
      - TRACKER_TELEGRAM_BOT_USERNAME
      - TRACKER_TELEGRAM_POLL_INTERVAL
      - TRACKER_TWITTER_BEARER_TOKEN
      - TRACKER_TWITTER_CONSUMER_KEY
      - TRACKER_TWITTER_CONSUMER_SECRET
      - TRACKER_TWITTER_ACCESS_TOKEN
      - TRACKER_TWITTER_ACCESS_TOKEN_SECRET
      - TRACKER_TWITTER_TARGET_USER_ID
      - TRACKER_TWITTER_POLL_INTERVAL
      - TRACKER_REDDIT_CLIENT_ID
      - TRACKER_REDDIT_CLIENT_SECRET
      - TRACKER_REDDIT_USERNAME
      - TRACKER_REDDIT_PASSWORD
      - TRACKER_REDDIT_SUBREDDITS
      - TRACKER_TELEGRAM_CHATS
      - TRACKER_TELEGRAM_API_ID
      - TRACKER_TELEGRAM_API_HASH
      - TRACKER_TELEGRAM_BOT_USERNAME
      - TRACKER_TWITTERAPIIO_API_KEY
      - TRACKER_TWITTERAPIIO_TARGET_HANDLE
      - TRACKER_TWITTERAPIIO_STARTING_TIMESTAMP
      - TRACKER_TWITTERAPIIO_POLL_INTERVAL
  ansible.builtin.template:
    src: environment_file
    dest: "{{ site_path }}/source/{{ app_name }}/.env"
    owner: "{{ webapp_user }}"
    group: "{{ webapp_group }}"
    mode: '0600'
  become: true
  become_user: "{{ webapp_user }}"
  tags: [repository, update-project-code]

- name: Create bot's environment file
  ansible.builtin.template:
    src: environment_file_bot
    dest: "{{ site_path }}/source/{{ app_name }}/rewardsbot/.env"
    owner: "{{ webapp_user }}"
    group: "{{ webapp_group }}"
    mode: '0600'
  become: true
  become_user: "{{ webapp_user }}"
  tags: [repository, update-project-code]

- name: Create contract's environment file
  ansible.builtin.template:
    src: environment_file_contract
    dest: "{{ site_path }}/source/{{ app_name }}/contract/.env"
    owner: "{{ webapp_user }}"
    group: "{{ webapp_group }}"
    mode: '0600'
  become: true
  become_user: "{{ webapp_user }}"
  tags: [repository, update-project-code]
