algorand-python-testing>=1.1.0
algokit>=2.10.2
puyapy>=5.7.1
py-algorand-sdk>=2.11.1
algorand-python>=3.4.0
algokit-utils>=4.2.3
pytest>=9.0.2
pytest-cov>=7.0.0
pytest-mock>=3.15.1
pytest-order>=1.3.0
